body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 560px;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid navy;
}
h1 {
	margin: 0;
	padding: .25em;
	font-size: 200%;
	color: navy;
}
img  {
	float: left;
	margin: 0 1em;
}
p1 {
	margin: 0;
	padding-bottom: .5em;
	font-family: "Times New Roman";
	font-size: 18px;
	font-weight: lighter;
	color: darkred;
	background-color: cornflowerblue;
}

li{
	margin: 1em;
	padding-top: .1em;
	font-family: "JetBrains Mono";
	font-size: 200%;
	font-weight:bolder;
	color: darkslategrey;
}
